/* Reset browser's default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//boolean algebra
//karnaughmap
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

.weather-container p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #555;
}

#current-temp {
    color: #007BFF;
    font-weight: bold;
}

.forecast {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.forecast .day {
    text-align: center;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f9fc;
    margin: 0 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.forecast .day p {
    margin-bottom: 5px;
    font-size: 0.9em;
}

button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .weather-container {
        width: 90%;
    }

    .forecast {
        flex-direction: column;
    }

    .forecast .day {
        margin-bottom: 10px;
        margin-right: 0;
    }
}
